Repository slapxxi/task-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Add a couple of todos
  src/App.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Basic projects functionality
  __mocks__/firebase/index.ts
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Project/Project.spec.tsx
  src/components/Project/Project.tsx
  src/components/Project/Projects.tsx
  src/components/Project/styles.css
  src/components/Project/styles.css.d.ts
  src/components/Store/StoreProvider.tsx
  src/components/Tasks/Tasks.tsx
  src/components/index.ts
  src/global.d.ts
  src/lib/projects/createProject.spec.ts
  src/lib/projects/createProject.ts
  src/lib/tasks/createTask.ts
  src/services/__snapshots__/pollTasks.spec.ts.snap
  src/services/pollTasks.spec.ts
  src/services/pollTasks.ts
  src/services/updateTask.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update database when editing projects
  src/App.tsx
  src/assets/briefcase.svg
  src/assets/inbox.svg
  src/components/Menu/Menu.tsx
  src/components/Menu/styles.css
  src/components/Menu/styles.css.d.ts
  src/components/Project/Project.tsx
  src/components/Project/styles.css
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/index.ts
  src/components/pages/InboxPage.tsx
  src/components/pages/ProjectPage.tsx
  src/components/pages/ProjectsPage.tsx
  src/components/pages/styles.css
  src/components/pages/styles.css.d.ts
  src/global.d.ts
  src/lib/tasks/assignToProject.spec.ts
  src/lib/tasks/assignToProject.ts
  src/services/index.ts
  src/services/updateProject.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Delete tasks specific to the project
  src/App.tsx
  src/components/Project/Project.spec.tsx
  src/components/Project/Project.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Tasks/Task.spec.tsx
  src/components/Tasks/Task.tsx
  src/components/Tasks/TaskItem.spec.tsx
  src/components/Tasks/Tasks.spec.tsx
  src/components/Tasks/Tasks.tsx
  src/components/pages/ProjectPage.tsx
  src/global.d.ts
  src/lib/tasks/assignToProject.spec.ts
  src/lib/tasks/assignToProject.ts
  src/lib/tasks/createTask.spec.ts
  src/lib/tasks/createTask.ts
  src/lib/tasks/isValidTask.ts
  src/lib/tasks/tagTask.spec.ts
  src/lib/tasks/tagTask.ts
  src/lib/tasks/toggleTask.ts
  src/services/deleteTask.ts
  src/services/pollTasks.ts
  src/services/updateTask.ts
  src/types.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update deps
  package-lock.json
Due: none

Refactor some components to accept render props
  jest.config.js
  src/components/Project/Project.spec.tsx
  src/components/Project/Project.tsx
  src/components/Project/__snapshots__/Project.spec.tsx.snap
  src/components/Tasks/Task.spec.tsx
  src/components/Tasks/Task.tsx
  src/components/Tasks/Tasks.spec.tsx
  src/components/Tasks/Tasks.tsx
  src/components/Tasks/__snapshots__/Tasks.spec.tsx.snap
  src/components/index.ts
  src/components/pages/InboxPage.tsx
  src/components/pages/ProjectPage.tsx
  src/lib/index.ts
  src/lib/tasks/assignToProject.spec.ts
  tsconfig.json
  tslint.json
  webpack.config.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Enable creating rudimentary projects
  src/App.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Tasks/Task.spec.tsx
  src/components/pages/ProjectsPage.tsx
  src/global.d.ts
  src/lib/index.ts
  src/lib/projects/createProject.spec.ts
  src/lib/projects/createProject.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Fix tasks list bug
  src/components/Tasks/Task.spec.tsx
  src/components/Tasks/Task.tsx
  src/components/pages/InboxPage.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update deps
  package-lock.json
  package.json
Due: none

Implement shouldComponentUpdate for Task
  src/components/Tasks/Task.tsx
  src/components/TextArea/TextArea.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Refactor library code
  src/components/Icon/Icon.tsx
  src/components/Store/Store.spec.tsx
  src/components/Tags/Tags.spec.tsx
  src/components/Tags/Tags.tsx
  src/components/Tasks/Task.tsx
  src/global.d.ts
  src/lib/addTag.spec.ts
  src/lib/addTag.ts
  src/lib/generateAccentColor.spec.ts
  src/lib/generateAccentColor.ts
  src/lib/index.ts
  src/lib/projects/createProject.spec.ts
  src/lib/projects/createProject.ts
  src/lib/tags/createTag.spec.ts
  src/lib/tags/createTag.ts
  src/lib/tasks/createTask.spec.ts
  src/lib/tasks/createTask.ts
  src/lib/tasks/tagTask.spec.ts
  src/lib/tasks/tagTask.ts
  src/services/__snapshots__/pollTasks.spec.ts.snap
  src/services/createDBTag.ts
  src/services/fetchTasks.ts
  src/services/pollTasks.ts
  src/services/updateTag.ts
  src/services/updateTask.ts
  src/types.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Delete multiple tags
  src/components/Tags/Tag.spec.tsx
  src/components/Tags/Tag.tsx
  src/components/Tags/Tags.spec.tsx
  src/components/Tags/Tags.tsx
  src/components/Tags/TagsEditor.spec.tsx
  src/components/Tags/TagsEditor.tsx
  src/components/Tags/__snapshots__/Tag.spec.tsx.snap
  src/components/Tags/__snapshots__/Tags.spec.tsx.snap
  src/components/Tags/__snapshots__/TagsEditor.spec.tsx.snap
  src/components/Tasks/Task.tsx
  src/components/index.ts
  src/lib/index.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Make TagsEditor to accept only `onRemoveTags`
  src/components/Tags/TagsEditor.spec.tsx
  src/components/Tags/TagsEditor.tsx
  src/components/Tasks/Task.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update dependencies
  package-lock.json
  package.json
Due: none

Update deps
  index.html
  package-lock.json
  package.json
  prod.index.html
Due: none

Basic deadline functionality
  __mocks__/firebase/index.ts
  package-lock.json
  package.json
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/styles.css
  src/components/Calendar/styles.css.d.ts
  src/components/Compose/Compose.spec.tsx
  src/components/Compose/Compose.tsx
  src/components/DateTime/DateTime.tsx
  src/components/Store/Store.spec.tsx
  src/components/Tasks/Task.tsx
  src/components/Tasks/Tasks.tsx
  src/components/index.ts
  src/lib/fromEpochTime.spec.ts
  src/lib/fromEpochTime.ts
  src/lib/index.ts
  src/lib/tasks/createTask.ts
  src/lib/tasks/setDeadline.ts
  src/lib/toEpochTime.spec.ts
  src/lib/toEpochTime.ts
  src/services/__snapshots__/pollTasks.spec.ts.snap
  src/services/pollTasks.ts
  src/services/updateTask.ts
  src/types.ts
  webpack.config.dev.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Change and reset deadlines
  package-lock.json
  package.json
  src/assets/cross.svg
  src/components/Deadline/Deadline.tsx
  src/components/Deadline/styles.css
  src/components/Deadline/styles.css.d.ts
  src/components/Tasks/Task.tsx
  src/components/index.ts
  src/lib/index.ts
  src/lib/tasks/resetDeadline.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Rewrite more class components to functional components
  index.html
  prod.index.html
  src/components/DateTime/DateTime.tsx
  src/components/Menu/Menu.tsx
  src/components/Project/Project.tsx
  src/components/Project/__snapshots__/Project.spec.tsx.snap
  src/components/Store/Store.tsx
  src/components/pages/ProjectsPage.tsx
  src/lib/index.ts
  src/lib/projects/getProjectProgress.ts
  src/types.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update deps
  package-lock.json
  package.json
  src/components/Subtask/Subtask.tsx
  src/components/Subtask/SubtasksEditor.tsx
  src/components/TextArea/TextArea.tsx
  src/global.d.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Refactor StoreProvider to be more "hooky"
  __mocks__/firebase/index.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/Store/StoreProvider.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Subtask/SubtasksEditor.spec.tsx
  src/components/Tags/TagsEditor.tsx
  src/components/Tasks/Task.tsx
  src/lib/index.ts
  src/lib/tasks/addSubtask.ts
  src/lib/tasks/getTaskProgress.ts
  src/lib/tasks/index.ts
  src/lib/tasks/removeSubtask.ts
  src/services/__snapshots__/pollDatabase.spec.ts.snap
  src/services/index.ts
  src/services/pollDatabase.spec.ts
  src/services/pollDatabase.ts
  tsconfig.json
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Adjust project configuration for better development experience
  .gitignore
  .lintstagedrc
  jest.config.js
  src/App.spec.tsx
  src/App.tsx
  tsconfig.json
  webpack.config.dev.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Tree shake Lodash
  __mocks__/firebase/app.ts
  babel.config.js
  browserslist
  jest.config.js
  package-lock.json
  package.json
  src/components/Tags/TagsEditor.tsx
  src/components/Tasks/Task.tsx
  src/components/Tasks/Tasks.tsx
  src/lib/combineClassNames.ts
  src/lib/handleEmptyBackspace.spec.tsx
  src/lib/themeToCSSVariables.ts
  src/services/createDBTag.ts
  src/services/deleteTask.ts
  src/services/fetchTags.ts
  src/services/pollDatabase.ts
  src/services/updateProject.ts
  src/services/updateTag.ts
  src/services/updateTask.spec.ts
  src/services/updateTask.ts
  tsconfig.json
  webpack.config.dev.js
  webpack.config.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Tweak some files and change pre-committing hook
  .lintstagedrc
  package.json
  src/components/Compose/Compose.spec.tsx
  src/components/Compose/Compose.tsx
  src/components/DateTime/DateTime.tsx
  src/components/Input/Input.tsx
  src/components/Project/Project.tsx
  src/components/Project/Projects.tsx
  src/components/Subtask/Subtasks.tsx
  src/components/pages/ProjectPage.tsx
  src/hooks/useStore.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Tree shake Firebase
  src/index.tsx
  src/services/pollDatabase.spec.ts
  src/services/stopPolling.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Lay out basic page structure for future reference
  src/App.tsx
  src/assets/book.svg
  src/assets/box.svg
  src/assets/settings.svg
  src/assets/star.svg
  src/assets/trash.svg
  src/components/CalendarIcon/CalendarIcon.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/styles.css
  src/components/pages/LogbookPage.tsx
  src/components/pages/SettingsPage.tsx
  src/components/pages/SomedayPage.tsx
  src/components/pages/TodayPage.tsx
  src/components/pages/TrashPage.tsx
  src/components/pages/UpcomingPage.tsx
  src/components/pages/styles.css
  src/components/pages/styles.css.d.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Provide placeholder for loading content
  src/App.tsx
  src/components/Placeholder/Placeholder.tsx
  src/components/Placeholder/styles.css
  src/components/Placeholder/styles.css.d.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Implement logic for "Today" page
  src/components/Button/Button.tsx
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/styles.css
  src/components/Calendar/styles.css.d.ts
  src/components/Deadline/Deadline.tsx
  src/components/Deadline/styles.css
  src/components/Deadline/styles.css.d.ts
  src/components/Tags/Tag.tsx
  src/components/Tags/__snapshots__/Tag.spec.tsx.snap
  src/components/Tags/__snapshots__/TagsEditor.spec.tsx.snap
  src/components/Tasks/Task.tsx
  src/components/Tasks/Tasks.tsx
  src/components/Tasks/TasksEditor.tsx
  src/components/Tasks/__snapshots__/Tasks.spec.tsx.snap
  src/components/pages/PageTitle.tsx
  src/components/pages/TodayPage.tsx
  src/components/pages/styles.css
  src/components/pages/styles.css.d.ts
  src/lib/index.ts
  src/lib/tasks/matchTasksByTags.ts
  src/styles/index.css
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Replace TextArea with a third party component to avoid issues
  package-lock.json
  package.json
  src/components/Project/__snapshots__/Project.spec.tsx.snap
  src/components/TextArea/TextArea.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Complete tasks when all subtasks are completed
  src/components/ProgressCheckbox/ProgressCheckbox.tsx
  src/components/Tasks/Task.tsx
  src/components/pages/TodayPage.tsx
  src/lib/tasks/addSubtask.ts
  src/lib/tasks/completeTask.ts
  src/lib/tasks/index.ts
  src/lib/tasks/resetTaskCompletion.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Implement basic icon system
  babel.config.js
  src/App.spec.tsx
  src/components/Calendar/Calendar.tsx
  src/components/Deadline/Deadline.tsx
  src/components/IconSystem/IconSystem.tsx
  src/components/IconSystem/__mocks__/IconSystem.tsx
  src/components/Menu/Menu.tsx
  src/components/Subtask/Subtask.spec.tsx
  src/components/Subtask/Subtask.tsx
  src/components/Subtask/SubtasksEditor.spec.tsx
  src/components/Subtask/__snapshots__/Subtask.spec.tsx.snap
  src/components/Subtask/__snapshots__/SubtasksEditor.spec.tsx.snap
  src/components/Tasks/Task.spec.tsx
  src/components/Tasks/Task.tsx
  src/components/pages/InboxPage.tsx
  src/components/pages/LogbookPage.tsx
  src/components/pages/SettingsPage.tsx
  src/components/pages/SomedayPage.tsx
  src/components/pages/TodayPage.tsx
  src/components/pages/TrashPage.tsx
  tsconfig.json
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Fix some minor bugs
  src/components/Deadline/Deadline.tsx
  src/components/Project/Project.tsx
  src/components/Sidebar/styles.css
  src/components/Subtask/Subtask.spec.tsx
  src/components/Subtask/Subtask.tsx
  src/components/Subtask/Subtasks.tsx
  src/components/Subtask/SubtasksEditor.spec.tsx
  src/components/Subtask/SubtasksEditor.tsx
  src/components/Subtask/__snapshots__/Subtask.spec.tsx.snap
  src/components/Subtask/__snapshots__/SubtasksEditor.spec.tsx.snap
  src/components/Tasks/Task.spec.tsx
  src/components/Tasks/Task.tsx
  src/components/Tasks/Tasks.tsx
  src/components/Tasks/TasksEditor.tsx
  src/components/pages/InboxPage.tsx
  src/lib/tasks/addSubtask.ts
  src/lib/tasks/removeSubtask.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Path conditions:
  npm run prettier --: any of: *.{ts,tsx,js,jsx,md,css}
  jest --findRelatedTests: any of: *.{ts,tsx,js,jsx}
  npm run eslint --: any of: *.{js,jsx}
  npm run tslint --: any of: *.{ts,tsx}
