Repository slapxxi/task-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --, jest --findRelatedTests, npm run csscomb --, npm run svgo --, npm run eslint --, npm run tslint --

Add simple function for combining CSS class names
  src/lib/combineClassNames.spec.ts
  src/lib/combineClassNames.ts
  src/lib/index.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update deps
  package-lock.json
  package.json
Due: none

Do not run SVGO on staged SVG files
  .lintstagedrc
Due: none

Update configuration
  htmlTransformer.js
  jest.config.js
  package-lock.json
  package.json
  src/custom.d.ts
  src/global.d.ts
  webpack.config.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Add support for CSS variables in Icon component
  src/components/Icon/Icon.spec.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.spec.tsx.snap
  src/lib/generateAccentColor.spec.ts
  src/lib/generateAccentColor.ts
  src/lib/index.ts
  src/lib/themeToCSSVariables.spec.ts
  src/lib/themeToCSSVariables.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Do not run CSSComb on staged CSS files
  .csscomb.json
  .lintstagedrc
Due: none

Use Docz to document projects
  .gitignore
  babel.config.js
  doczrc.js
  package-lock.json
  package.json
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --

Split Webpack configuration into relevant environments
  package-lock.json
  package.json
  prod.index.html
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --

Add an additional test case for `themeToCSSVariables` tests
  src/lib/themeToCSSVariables.spec.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Configure Firebase
  package-lock.json
  package.json
  src/firebase.config.ts
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Rename Firebase configuration for better intellisense
  src/firebaseConfig.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update deps
  index.html
  package-lock.json
  package.json
  prod.index.html
Due: none

Use source-map instead of inline-source-map as a devtool
  webpack.config.dev.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --

Remove tests for App
  src/App.spec.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Adjust Icon behavior
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.spec.tsx.snap
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Update deps
  .gitignore
  index.html
  package-lock.json
  package.json
  prod.index.html
Due: none

Tweak configuration
  jest.config.js
  tsconfig.json
  tslint.json
  webpack.config.dev.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --

Add NPM commit script
  package.json
Due: none

Serve assets from root in development
  webpack.config.dev.js
  webpack.config.prod.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --

Change icon for a checkbox
  src/assets/roundcheckbox.svg
  src/assets/roundcheckbox_checked.svg
  src/components/Tasks/styles.css
Due: npm run prettier --, npm run csscomb --, npm run svgo --

Move cursor to the end on focus in TextArea
  src/components/Tasks/TaskItem.tsx
  src/components/TextArea/TextArea.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Write some tests and add refactor some code
  __mocks__/firebase/index.ts
  src/components/Button/Button.tsx
  src/components/Store/Store.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Store/context.ts
  src/components/Tasks/TaskItem.spec.tsx
  src/components/Tasks/TaskItem.tsx
  src/components/Tasks/Tasks.tsx
  src/components/Tasks/styles.css
  src/components/Tasks/styles.css.d.ts
  src/components/TextArea/TextArea.tsx
  src/global.d.ts
  src/services/__snapshots__/pollTasks.spec.ts.snap
Due: npm run prettier --, jest --findRelatedTests, npm run csscomb --, npm run tslint --

Init commit
  __mocks__/firebase/index.ts
  src/App.tsx
  src/assets/arrow_down.svg
  src/assets/arrow_up.svg
  src/assets/checkbox.svg
  src/assets/checkbox_checked.svg
  src/assets/dots.svg
  src/assets/flag.svg
  src/assets/list.svg
  src/assets/trashbin.svg
  src/components/Button/Button.tsx
  src/components/Store/Store.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Store/context.ts
  src/components/Tasks/TaskItem.tsx
  src/components/Tasks/Tasks.tsx
  src/components/Tasks/styles.css
  src/components/Tasks/styles.css.d.ts
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/styles.css
  src/components/index.ts
  src/global.d.ts
  src/index.tsx
  src/lib/tasks/createTask.spec.ts
  src/lib/tasks/createTask.ts
  src/lib/tasks/index.ts
  src/lib/tasks/isValidTask.spec.ts
  src/lib/tasks/isValidTask.ts
  src/lib/tasks/toggleTask.spec.ts
  src/lib/tasks/toggleTask.ts
  src/services/__snapshots__/pollTasks.spec.ts.snap
  src/services/deleteTask.ts
  src/services/fetchTasks.ts
  src/services/index.ts
  src/services/mapResponseToData.ts
  src/services/pollTasks.spec.ts
  src/services/pollTasks.ts
  src/services/updateTask.ts
  src/styles/index.css
Due: npm run prettier --, jest --findRelatedTests, npm run csscomb --, npm run svgo --, npm run tslint --

Add TaskItem tests for `onExpand`
  src/components/Tasks/TaskItem.spec.tsx
  src/components/Tasks/TaskItem.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Provide store actions via `actions` property
  src/App.tsx
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Store/context.ts
  src/global.d.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Add some lib functions
  src/lib/addTag.spec.ts
  src/lib/addTag.ts
  src/lib/tags/createTag.ts
  src/lib/tags/index.ts
  src/lib/tasks/isValidTask.spec.ts
  src/lib/tasks/toggleTask.spec.ts
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Add path aliases
  jest.config.js
  src/types.ts
  tsconfig.json
  webpack.config.js
Due: npm run prettier --, jest --findRelatedTests, npm run eslint --, npm run tslint --

Tweak tags appearance and functionality
  src/components/Tags/Tags.spec.tsx
  src/components/Tags/Tags.tsx
  src/components/Tags/styles.css
  src/components/Tasks/TaskItem.spec.tsx
  src/components/Tasks/TaskItem.tsx
  src/components/Tasks/Tasks.tsx
  src/lib/keys.ts
Due: npm run prettier --, jest --findRelatedTests, npm run csscomb --, npm run tslint --

Change icon for expanding to arrow
  src/assets/arrow_down.svg
  src/assets/arrow_up.svg
  src/components/Tasks/TaskItem.tsx
  src/components/Tasks/styles.css
Due: npm run prettier --, jest --findRelatedTests, npm run csscomb --, npm run svgo --, npm run tslint --

Basic tags implementation
  __mocks__/firebase/index.ts
  __mocks__/uuid.ts
  src/App.tsx
  src/assets/cross.svg
  src/assets/hamburger.svg
  src/assets/tag.svg
  src/components/Button/Button.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/styles.css
  src/components/Menu/styles.css.d.ts
  src/components/Store/Store.spec.tsx
  src/components/Store/Store.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Store/context.ts
  src/components/Tags/Tags.tsx
  src/components/Tags/styles.css
  src/components/Tags/styles.css.d.ts
  src/components/Tasks/TaskItem.spec.tsx
  src/components/Tasks/TaskItem.tsx
  src/components/Tasks/Tasks.tsx
  src/components/Tasks/styles.css
  src/components/Tasks/styles.css.d.ts
  src/components/index.ts
  src/global.d.ts
  src/lib/tags/createTag.ts
  src/lib/tasks/createTask.spec.ts
  src/lib/tasks/createTask.ts
  src/services/__snapshots__/pollTasks.spec.ts.snap
  src/services/fetchTags.ts
  src/services/fetchTasks.ts
  src/services/index.ts
  src/services/mapResponseToData.ts
  src/services/pollTasks.spec.ts
  src/services/pollTasks.ts
  src/services/stopPolling.ts
  src/services/updateTag.ts
  src/services/updateTask.ts
  tslint.json
Due: npm run prettier --, jest --findRelatedTests, npm run csscomb --, npm run svgo --, npm run tslint --

Accept initial state in StoreProvider
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
Due: npm run prettier --, jest --findRelatedTests, npm run tslint --

Path conditions:
  npm run prettier --: any of: *.{ts,tsx,js,jsx,md,css}
  jest --findRelatedTests: any of: *.{ts,tsx,js,jsx}
  npm run csscomb --: any of: *.{css,scss}
  npm run svgo --: any of: *.svg
  npm run eslint --: any of: *.{js,jsx}
  npm run tslint --: any of: *.{ts,tsx}
